*service*.json
*account*.json
*thermoflux*.json
*boron*.json
token.pickle
*credentials*.json
*.png
*.log
demo-table-export-ancillary-raw.csv
demo-table-export.csv
demo-table-export-30min-ave.csv
demo-table-export.csv
sendmail-apikey.json
*token*.pickle
"backup creds"*/*
